.navbar1 {
  height: 62px; }

.navbar2 {
  background-color: black; }

h1 {
  background-image: linear-gradient(to left, #4d6e56, green, #4d6e56);
  color: #DBDBDB;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 20px;
  letter-spacing: 1px;
  font-family: Lato, sans-serif;
  height: 100px; }

main {
  width: 100%;
  height: 1780px;
  background-color: white; }

.stein {
  height: 1350px; }

.tours {
  height: 1720px; }

.respon {
  height: 950px; }

.contac {
  height: 810px; }

.divPadre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  grid-gap: 10px; }

.divHijo {
  position: relative; }

.gallery_img {
  width: 100%;
  height: 570px;
  object-fit: cover; }

.gallery_title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0.3), black);
  width: 100%;
  margin: 0;
  padding: 50px;
  font-family: Fira Sans, sans-serif;
  font-size: 44px; }

@media (max-width: 768px) {
  .divPadre {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 0px;
    margin-top: 20px; }
  main {
    width: 100%;
    height: 2900px; }
  .redes {
    background-color: #212529;
    height: 300px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px; } }

@media (max-width: 768px) {
  .stein {
    height: 1200px; } }

.fotosServicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  grid-gap: 10px; }

.exper {
  position: relative; }

.gallery_img2 {
  width: 100%;
  height: 570px;
  object-fit: cover; }

.gallery_title2 {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0.3), black);
  width: 100%;
  margin: 0;
  padding: 50px;
  font-family: Fira Sans, sans-serif;
  font-size: 35px; }

@media (max-width: 1024px) {
  .fotosServicios {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 0px;
    margin-top: 20px; }
  .tours {
    width: 100%;
    height: 2330px; } }

td {
  color: purple; }

p {
  color: black;
  font-weight: bold; }

.parrafoDeMuestra {
  line-height: 2; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.table-responsive {
  border: solid 3px black; }

.table-inicio {
  background-color: #4d6e56; }

td {
  color: black;
  font-size: 20px; }

.tabla {
  color: black;
  font-size: 20px; }

.barraTabla {
  color: #DBDBDB;
  font-size: 25px; }

form {
  width: 800px; }

.logoBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 50px; }

.soocial {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.redes {
  background-color: #212529;
  height: 300px;
  margin: 0px;
  padding: 0px; }

.siguenos {
  color: #198754;
  font-size: 14px;
  font-family: Fira Sans, sans-serif;
  height: 30px; }

.titulo {
  display: flex;
  flex-direction: row;
  justify-content: center; }

footer {
  width: 100%;
  height: 500px;
  background-color: black; }

.footer {
  display: flex;
  flex-direction: row; }

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.formulario {
  color: #DBDBDB; }

label {
  color: #DBDBDB; }

.formularioContacto {
  width: 1000px; }

body {
  width: 100%; }

@media (max-width: 768px) {
  body {
    background-color: green; } }
