footer{
	width: 100%;
	height: 500px;
	
	background-color: black;
}

.footer{
	display: flex;
	flex-direction: row;
}


.redes{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.formulario{
	color: $color-principal;
}

label{
	color: $color-principal;
}

.formularioContacto{
	width: 1000px;
}