%fuenteComun{
	font-family: $fuente-principal;
	background-color: $color-parrafo-principal;
	background-color: $color-parrafo-secundaria;
	color: $color-principal;
	color: $color-secundaria;
}

/*@mixin cambiarBorde($grosor, $ancho, $color, $estilo){
	border: $grosor;
	border-width:$ancho;
	border-color: $color;
	border-style: $estilo;

}*/

